@model IEnumerable<Game>

<div>
    <h2>Envanterdeki C64 Oyunları</h2>
    <hr />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>List Price</th>
            </tr>
        </thead>
        @foreach (var g in Model)
        {
            <tr>
                <td>@g.Id</td>
                <td>@g.Title</td>
                <td>@g.ListPrice</td>
            </tr>
        }
    </table>
</div>
